[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"nose2" = "*"
flask = "*"
coveralls = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
"boto3" = "*"
celery = "*"
moto = "*"
jsonschema = "*"
unidecode = "*"
ftfy = "*"
editdistance = "*"
regex = "*"
amazon-kclpy = "*"
"17e504d" = {path = "./../arxiv-base-ui"}
redis = "*"
dataclasses = "*"


[dev-packages]

