<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>[1606.00123] Exponential sum approximations for $t^{-\beta}$</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/arXiv.css') }}" />
    <meta name="citation_title" content="Exponential sum approximations for $t^{-\beta}$" />
    <meta name="citation_author" content="McLean, William" />
    <meta name="citation_date" content="2016/06/01" />
    <meta name="citation_online_date" content="2017/06/07" />
    <meta name="citation_pdf_url" content="http://arxiv.org/pdf/1606.00123" />
    <meta name="citation_arxiv_id" content="1606.00123" />
    <script src="/js/mathjaxToggle.min.js" type="text/javascript"></script>

    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.arxiv.org"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function()
    { var u="//webanalytics.library.cornell.edu/"; _paq.push(['setTrackerUrl', u+'piwik.php']); _paq.push(['setSiteId', 538]); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s); }
)();
</script>
<!-- End Piwik Code -->

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

</head>
<body class="with-cu-identity">



<div id="cu-identity">
<div id="cu-logo">
<a id="insignia-link" href="http://www.cornell.edu/"><img src="/icons/cu/cul_signature_unstyled.gif" alt="Cornell University" width="283" height="76" border="0" /></a>
<div id="unit-signature-links">
<a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
<a id="unit-link" href="http://www.library.cornell.edu/">Library</a>
</div>
</div>
<div id="support-ack">
<a href="https://confluence.cornell.edu/x/ALlRF">We gratefully acknowledge support from<br />the Simons Foundation<br /> and member institutions</a>
</div>
</div>
<div id="header">
<h1><a href="/">arXiv.org</a> &gt; <a href="/list/math/recent">math</a> &gt; arXiv:1606.00123</h1>
<div id="search">
<form id="search-arxiv" method="post" action="/search">

<div class="wrapper-search-arxiv">
<input class="keyword-field" type="text" name="query" placeholder="Search or Article ID"/>

<div class="filter-field">
<select name="searchtype">
<option value="all" selected="selected">All papers</option>
<option value="ti">Titles</option>
<option value="au">Authors</option>
<option value="abs">Abstracts</option>
<option value="ft">Full text</option>
<option value="help">Help pages</option>
</select>
</div>
<input class="btn-search-arxiv" value="" type="submit">
<div class="links">(<a href="/help">Help</a> | <a href="/find">Advanced search</a>)</div>
</div>
</form>
</div>
</div>
<div id="content">


<div id="abs">
<div class="extra-services">

<div class="full-text">
<span class="descriptor">Full-text links:</span>
<h2>Download:</h2>
<ul>
<li><a href="/pdf/1606.00123" accesskey="f">PDF</a></li>
<li><a href="/format/1606.00123">Other formats</a></li>
</ul>
<div class="abs-license">(<a href="http://arxiv.org/licenses/nonexclusive-distrib/1.0/" title="Rights to this article">license</a>)</div>
</div><!--end full-text-->

<div class="browse">
<h3>Current browse context:</h3>
<div class="current">math.NA</div>
<div class="prevnext"><span class="arrow"><a href="http://arxiv.org/prevnext?site=arxiv.org&amp;id=1606.00123&amp;context=math.NA&amp;function=prev" accesskey="p" title="previous in math.NA (accesskey p)">&lt;&nbsp;prev</a></span>&nbsp;|&nbsp;<span class="arrow"><a href="http://arxiv.org/prevnext?site=arxiv.org&amp;id=1606.00123&amp;context=math.NA&amp;function=next" accesskey="n" title="next in math.NA (accesskey n)">next&nbsp;&gt;</a></span>
<br /></div>
<div class="list"><a href="/list/math.NA/new">new</a>&nbsp;| <a href="/list/math.NA/recent">recent</a>&nbsp;| <a href="/list/math.NA/1606">1606</a></div><h3>Change to browse by:</h3><div class="switch">
<a href="/abs/1606.00123?context=math">math</a>
</div>

</div>
<div class="extra-ref-cite">
<h3>References &amp; Citations</h3><ul><li><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1606.00123">NASA ADS</a></li>
</ul>

</div>
<div class="bookmarks">
<div class="what-is-this">
<h3>Bookmark</h3> (<a href="/help/social_bookmarking">what is this?</a>)
</div>
<a href="/ct?url=http%3A%2F%2Fwww.citeulike.org%2Fposturl%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123%26title%3DExponential%2520sum%2520approximations%2520for%2520%2524t%255E%257B-%255Cbeta%257D%2524%26authors%3D&amp;v=e9d01993" title="Bookmark on CiteULike"><img src="//static.arxiv.org/icons/social/citeulike.png" alt="CiteULike logo" /></a>
<a href="/ct?url=http%3A%2F%2Fwww.bibsonomy.org%2FBibtexHandler%3FrequTask%3Dupload%26url%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123%26description%3DExponential%2520sum%2520approximations%2520for%2520%2524t%255E%257B-%255Cbeta%257D%2524&amp;v=3359ae67" title="Bookmark on BibSonomy"><img src="//static.arxiv.org/icons/social/bibsonomy.png" alt="BibSonomy logo" /></a>
<a href="/ct?url=https%3A%2F%2Fwww.mendeley.com%2Fimport%2F%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123&amp;v=c6b1e317" title="Bookmark on Mendeley"><img src="//static.arxiv.org/icons/social/mendeley.png" alt="Mendeley logo" /></a>
<a href="/ct?url=https%3A%2F%2Fdel.icio.us%2Fpost%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123%26description%3DExponential%2520sum%2520approximations%2520for%2520%2524t%255E%257B-%255Cbeta%257D%2524&amp;v=7000f321" title="Bookmark on del.icio.us"><img src="//static.arxiv.org/icons/social/delicious.png" alt="del.icio.us logo" /></a>
<a href="/ct?url=https%3A%2F%2Fdigg.com%2Fsubmit%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123%26title%3DExponential%2520sum%2520approximations%2520for%2520%2524t%255E%257B-%255Cbeta%257D%2524&amp;v=651f2c39" title="Bookmark on Digg"><img src="//static.arxiv.org/icons/social/digg.png" alt="Digg logo" /></a>
<a href="/ct?url=https%3A%2F%2Freddit.com%2Fsubmit%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123%26title%3DExponential%2520sum%2520approximations%2520for%2520%2524t%255E%257B-%255Cbeta%257D%2524&amp;v=7e0c2c99" title="Bookmark on Reddit"><img src="//static.arxiv.org/icons/social/reddit.png" alt="Reddit logo" /></a>
<a href="/ct?url=http%3A%2F%2Fsciencewise.info%2Fbookmarks%2Fadd%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1606.00123&amp;v=b46abc9b" title="Bookmark on ScienceWISE"><img src="//static.arxiv.org/icons/social/sciencewise.png" alt="ScienceWISE logo" /></a>

</div>
</div><!--end extra-services-->

<div class="leftcolumn">
<div class="subheader">
<h1>Mathematics > Numerical Analysis</h1>
</div>
<h1 class="title mathjax"><span class="descriptor">Title:</span>
Exponential sum approximations for $t^{-&#x3b2;}$</h1>
<div class="authors"><span class="descriptor">Authors:</span>
<a href="/find/math/1/au:+McLean_W/0/1/0/all/0/1">William McLean</a></div>
<div class="dateline">(Submitted on 1 Jun 2016 (<a href="/abs/1606.00123v1">v1</a>), last revised 7 Jun 2017 (this version, v3))</div>
<blockquote class="abstract mathjax">
<span class="descriptor">Abstract:</span> Given $\beta&gt;0$ and $\delta&gt;0$, the function $t^{-\beta}$ may be approximated
for $t$ in a compact interval $[\delta,T]$ by a sum of terms of the form
$we^{-at}$, with parameters $w&gt;0$ and $a&gt;0$. One such an approximation, studied
by Beylkin and Monz\'on, is obtained by applying the trapezoidal rule to an
integral representation of $t^{-\beta}$, after which Prony's method is applied
to reduce the number of terms in the sum with essentially no loss of accuracy.
We review this method, and then describe a similar approach based on an
alternative integral representation. The main difference is that the new
approach achieves much better results before the application of Prony's method;
after applying Prony's method the performance of both is much the same.
</blockquote>
<!--CONTEXT-->
<div class="metatable">
<table summary="Additional metadata">
<tr>
<td class="tablecell label">Comments:
</td>
<td class="tablecell comments">18 pages, 5 figures. I have completely rewritten this paper because after uploading the previous version I realised that there is a much better approach. Note the change to the title. Have included minor corrections following review</td>
</tr>
<tr>
<td class="tablecell label">Subjects:
</td>
<td class="tablecell subjects"><span class="primary-subject">Numerical Analysis (math.NA)</span></td>
</tr>
<tr>
<td class="tablecell label">
<abbr title="Mathematical Subject Classification">MSC</abbr>&nbsp;classes:
</td>
<td class="tablecell msc-classes">41A25, 65D32, 65Y20</td>
</tr>
<tr>
<td class="tablecell label">
Cite&nbsp;as:
</td>
<td class="tablecell arxivid"><a href="/abs/1606.00123">arXiv:1606.00123</a> [math.NA]</td>
</tr>
<tr>
<td class="tablecell label">&nbsp;</td>
<td class="tablecell arxividv">(or <span class="arxivid"><a href="/abs/1606.00123v3">arXiv:1606.00123v3</a> [math.NA]</span> for this version)</td>
</tr>
</table>
</div>
<div class="submission-history">
    <h2>Submission history</h2>
    From: William McLean [<a href="https://arxiv.org/show-email/36135d01/1606.00123">view email</a>]
    <br />
    <b><a href="/abs/1606.00123v1">[v1]</a></b> Wed, 1 Jun 2016 05:50:11 GMT  (63kb,D)<br />
    <b><a href="/abs/1606.00123v2">[v2]</a></b> Fri, 21 Oct 2016 03:44:02 GMT  (71kb,D)<br />
    <b>[v3]</b> Wed, 7 Jun 2017 02:07:47 GMT  (77kb,D)<br />
</div>

<div class="references submission-history">
    <h2>References</h2>
    <ul id="reference-list"></ul>
    <style>
    .reference-author::after {
        content: ', ';
    }
    .reference-author:last-of-type::after {
        content: '. ';
    }
    .reference-year {
        font-weight: bold;
    }
    .reference-year::after {
        content: '. ';
    }
    .reference-title::after {
        content: '. ';
    }
    .reference-source {
        font-style: italic;
    }
    .reference-volume::before {
        content: ' ';
    }
    .reference-issue::before {
        content: ' (';
    }
    .reference-issue::after {
        content: ')';
    }
    .reference-pages::before {
        content: ': ';
    }
    .reference-pages::after {
        content: '. ';
    }
    .reference-doi::before {
        content: 'DOI: ';
    }
    .reference-author-givennames::after {
        content: ' ';
    }
    </style>
    <script>
        var references_elem = $('#reference-list');

        // We send the user back to an endpoint that we control, so that we
        //  can reconfigure resolution logic without altering this view.
        var getURLforReference = function(reference) {
            return '/references/{{ document_id }}/ref/' + encodeURIComponent(reference.identifier) + '/resolve';
        }

        var renderReferences = function(data) {
            data.references.forEach(function(reference) {
                var reference_elem = $('<li id="reference-' + reference.identifier + '"></li>');
                if (reference.authors != null) {
                    var authors_elem = $('<span class="reference-authors"></span>');
                    reference.authors.forEach(function(author) {
                        author_elem = $('<span class="reference-author"></span>');
                        if (author.givennames) {
                            author_elem.append('<span class="reference-author-givennames">' + author.givennames + '</span>');
                        }
                        if (author.surname) {
                            author_elem.append('<span class="reference-author-surname">' + author.surname + '</span>');
                        }
                        authors_elem.append(author_elem);
                    });
                    reference_elem.append(authors_elem);
                }

                reference_elem.append('<span class="reference-year">' + reference.year + '</span>');
                if (reference.title != null) {
                    if (reference.doi == null) {   // No DOI, so we'll link back to our endpoint.
                        reference_elem.append('<span class="reference-title"><a href="' + getURLforReference(reference) + '">' + reference.title + '</a></span>');
                    } else {
                        reference_elem.append('<span class="reference-title">' + reference.title + '</span>');
                    }
                }

                if (reference.source != null && reference.source.indexOf('=') == -1) {
                    // Temporary patch for bad source parsing...
                    if (reference.source.indexOf('DOI') > -1) {
                        reference.source = reference.source.split('DOI')[0].trim();
                    }
                    reference_elem.append('<span class="reference-source">' + reference.source + '</span>');
                }
                if (reference.volume != null) {
                    reference_elem.append('<span class="reference-volume">' + reference.volume + '</span>');
                }
                if (reference.issue != null) {
                    reference_elem.append('<span class="reference-issue">' + reference.issue + '</span>');
                }
                if (reference.pages != null) {
                    reference_elem.append('<span class="reference-pages">' + reference.pages + '</span>');
                }
                if (reference.doi != null) {
                    reference_elem.append('<span class="reference-doi"><a href="' + getURLforReference(reference) + '">' + reference.doi + '</a></span>');
                }

                references_elem.append(reference_elem);
            });
        }

        var renderError = function(err) {
            if (err.status == 404) {
                references_elem.append('No reference data available for this paper.');
            } else {
                references_elem.append('Whoops! Something went wrong. Please contact an administrator if the problem persists.');
            }
        }

        $('body').ready(function() {
            $.get('/references/{{ document_id }}', renderReferences)
                .fail(renderError);
        });
    </script>
</div>

<div class="endorsers"><a href="http://arxiv.org/auth/show-endorsers/1606.00123">Which authors of this paper are endorsers?</a> | <a id="mathjax_toggle" href="javascript:setMathjaxCookie()">Disable MathJax</a> (<a href="/help/mathjax/">What is MathJax?</a>)</div><script type="text/javascript" language="javascript">mathjaxToggle();</script>
</div><!--end leftcolumn-->
</div><!--end abs-->
</div>
<div id="footer">
<div class="footer-text">
<p>Link back to: <a href="http://arxiv.org/">arXiv</a>, <a href="/form">form interface</a>, <a href="/help/contact">contact</a>.</p>
</div>
<div class="social"><a href="https://twitter.com/arxiv"><img src="//static.arxiv.org/icons/twitter_logo_blue.png" alt="Twitter" title="Follow arXiv on Twitter"></a></div>
</div>
</body>
</html>
